<div data-role="view" data-title="Registro" data-layout="main" data-model="app.perfil" data-show="app.perfil.onShow" data-after-show="app.perfil.afterShow">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;">Registro</span>
        </div>
    </header>
    <h1 class="km-bold-font" style="color:black;" align="center">Dinos más sobre ti</h1>
    <div id="perfilModel" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">
                    <label class="km-label-above">

                        <span>Apellido Paterno</span>

                        <input data-bind="value: perfilModel.fields.ApePaterno" type="text">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">

                        <span>Apellido Materno</span>

                        <input data-bind="value: perfilModel.fields.ApeMaterno" type="text">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">

                        <span>Nombres</span>

                        <input data-bind="value: perfilModel.fields.nombre" type="text">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">

                        <span>Dirección</span>

                        <input data-bind="value: perfilModel.fields.direccion" type="text">
                    </label>
                </li>
                <li class="form-content-item">
                    <label>

                        <span>Dirección activa</span>

                        <input data-bind="value: perfilModel.fields.toggleDireccion" data-role="switch">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">

                        <span>Nombre Completo</span>

                        <input data-bind="value: perfilModel.fields.nombres" type="text">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">

                        <span>Correo (Para acceso a Cuenta)</span>

                        <input data-bind="value: perfilModel.fields.correo" type="text">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">

                        <span>Teléfono</span>

                        <input data-bind="value: perfilModel.fields.celular" type="text">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">

                        <span>Nro. DNI</span>

                        <input data-bind="value: perfilModel.fields.dni" type="text">
                    </label>
                </li>
            </ul>
<!--             <div class="button-group">
                <a data-role="button" data-bind="events: { click: perfilModel.cancel }">Cancel</a>
                <a class="primary" data-role="button" data-bind="events: { click: perfilModel.submit }">Confirm</a>
            </div> -->
        </form>
        <!-- START_CUSTOM_CODE_perfilModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
        <!-- END_CUSTOM_CODE_perfilModel -->
    </div>
    <!-- START_CUSTOM_CODE_perfil -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_perfil -->
    <a id="btn-next" data-role="button" class="nav-button" data-icon="details" data-bind="events: { click: addItemViewModel.onSaveClick }"></a>
</div>