<div id="listadoView" data-role="view" data-title="Mis pedidos" data-layout="main" data-model="app.ordenes" data-show="app.ordenes.onShow" data-after-show="app.ordenes.afterShow">
    <!-- START_CUSTOM_CODE_ordenes -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_ordenes -->
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span data-role="view-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-role="button" data-align="right" data-bind="events: { click: ordenesModel.addClick }">Add</a>
        </div>
    </header>
    <!--  Certain features like grouping and inset styling are not supported when endless scroll is enabled. -->
    <form class="km-filter-form custom-filter">
        <div class="km-filter-wrap">
            <input type="serach" placeholder="Search..." data-bind="{events:{keyup: ordenesModel.searchChange}}">
        </div>
    </form>
    <!--     <ul id="listadoSeguimiento" data-role="listview" data-auto-bind="false" data-style="" data-template="ordenesModelTemplate" data-bind="{ source: ordenesModel.dataSource, events: {click: ordenesModel.itemClick} }" data-pull-to-refresh="true" data-endless-scroll="true">
    </ul> -->
    <div id="listadoSeguimiento" data-auto-bind="false" data-style="" data-template="ordenesModelTemplate" data-bind="{ source: ordenesModel.dataSource}" data-pull-to-refresh="true" data-endless-scroll="true">
    </div>
    <!-- START_CUSTOM_CODE_ordenesModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_ordenesModel -->
    <!--     <script type="text/x-kendo-template" id="ordenesModelTemplate">
        <div class="image-with-text">
            <img src="#: data['ProductoUrl'] #" width="30%" height="30%">
            <h3>#: data['Producto'] #</h3>
            <p style="color:black;">#: data['Precio'] #</p>
        </div>
    </script> -->
    <script type="text/x-kendo-template" id="ordenesModelTemplate">
        <div data-role="collapsible">
            #if( data['Estado']=='Entregado' ){#
            <h3>Orden: #: data['Codigo'] # <span class="km-badge km-listview-item-badge" style="font-size:inherit;margin-right:-3em;background-color:YellowGreen;">S/. #: data['Precio'] #</span></h3>
            <div align="right"><img src="components/ordenes/markerEntregados2.png"></div>
            #}else{#
            <h3>Orden: #: data['Codigo'] # <span class="km-badge km-listview-item-badge" style="font-size:inherit;margin-right:-3em;background-color:LightSalmon;">S/. #: data['Precio'] #</span></h3>
            <div align="right"><img src="components/ordenes/markerEspera2.png" data-bind="{events: {click: ordenesModel.itemClick} }" ></div>
            #}#
            <ol>
                <em style="position:absolute;margin-top:-44px;"> #: kendo.toString( data['CreatedAt'], "dd/MM/yyyy h:mm tt") # </em> # for (var i=0 ; i
                < data[ 'Producto'].length; i++) { # <li>
                    <div align="left">#= Producto[i].nombre # #= Producto[i].tamaño?" + "+Producto[i].tamaño:"" ##= Producto[i].masa?" + "+Producto[i].masa:"" # #= Producto[i].gaseosa?" + "+Producto[i].gaseosa:"" # S/. #= Producto[i].precio #</div>
                    </li>
                    # } #
            </ol>
        </div>
    </script>
</div>
<style>
    #listadoSeguimiento > li {
        padding: 0;
    }
    #listadoView {
        background-color: #fff;
    }
</style>