<div id="usersModelAddItemView" data-role="view" data-title="Registro" data-model="app.users.addItemViewModel" data-bind="events: { show: onShow }" >
    <header data-role="header">
        <div data-role="navbar" class="header-text" style="background-image: linear-gradient(to bottom, #e12f33 0%, #e12f33 100%);">
            <span style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;" data-role="view-title"></span>
            <a data-role="backbutton" data-align="left" href="components/index/view.html">Cancel</a>
            <!--             <a data-role="button" data-align="right" data-bind="events: { click: onSaveClick }">Save</a> -->
        </div>
    </header>
    <!-- START_CUSTOM_CODE_usersModel -->
    <!-- END_CUSTOM_CODE_usersModel -->
    <div id="editableListForm65" class="form-view">
        <h1 class="km-bold-font" style="color:black;" align="center">Dinos más sobre ti</h1>
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">
                    <label class="km-label-above">

                        <span style="color:black;">Nombre</span>

                        <input id="nombres" data-bind="value: addFormData.nombres" type="text">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">

                        <span style="color:black;">Apellido Paterno</span>

                        <input id="apePaterno" data-bind="value: addFormData.apePaterno" type="text">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">

                        <span style="color:black;">Apellido Materno</span>

                        <input id="apeMaterno" data-bind="value: addFormData.apeMaterno" type="text">
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">

                        <span style="color:black;">Teléfono</span>

                        <input id="telefono" data-bind="value: addFormData.telefono" type="number" >
                    </label>
                </li>
                <li class="form-content-item">
                    <label class="km-label-above">

                        <span style="color:black;">Nro. DNI</span>

                        <input id="dni" data-bind="value: addFormData.dni" type="number" >
                    </label>
                </li>
            </ul>
        </form>
        <!-- START_CUSTOM_CODE_editableListForm65 -->
        <!-- END_CUSTOM_CODE_editableListForm65 -->
    </div>
    <a id="btn-next" data-role="button" class="nav-button" data-icon="details" data-bind="events: { click: onSaveClick }"></a>
</div>