<div data-role="view" data-title="Editar" data-model="app.users.editItemViewModel" data-bind="events: { show: onShow }" id="usersModelEditItemView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span data-bind="text: currentItem.nombres" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;" data-role="view-title"></span>
            <a data-role="backbutton" data-align="left">Cancel</a>
            <a data-role="button" data-align="right" data-bind="events: { click: onSaveClick }">Guardar</a>
        </div>
    </header>
    <!-- START_CUSTOM_CODE_usersModel -->
    <!-- END_CUSTOM_CODE_usersModel -->
    <div id="editableListForm66" class="form-view">
        <h1 class="km-bold-font" style="color:black;" align="center">Dinos más sobre ti</h1>
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">

                    <label class="km-label-above">

                        <span style="color:black;">Nombre Completo</span>

                        <input id="nombres" data-bind="value: editFormData.nombres" type="text">
                    </label>

                </li>
                <li class="form-content-item">

                    <label class="km-label-above">

                        <span style="color:black;">Apellido Paterno</span>

                        <input id="apePaterno" data-bind="value: editFormData.apePaterno" type="text">
                    </label>

                </li>
                <li class="form-content-item">

                    <label class="km-label-above">

                        <span style="color:black;">Apellido Materno</span>

                        <input id="apeMaterno" data-bind="value: editFormData.apeMaterno" type="text">
                    </label>

                </li>
                <li class="form-content-item">

                    <label class="km-label-above">

                        <span style="color:black;">Teléfono</span>

                        <input id="telefono" data-bind="value: editFormData.telefono" type="text">
                    </label>

                </li>
                <li class="form-content-item">

                    <label class="km-label-above">

                        <span style="color:black;">Nro. DNI</span>

                        <input id="dni" data-bind="value: editFormData.dni" type="text">
                    </label>

                </li>
            </ul>
        </form>
        <!-- START_CUSTOM_CODE_editableListForm66 -->
        <!-- END_CUSTOM_CODE_editableListForm66 -->
    </div>
</div>