<div id="bienvenidaView" data-role="view" data-title="Mi Perfil" data-layout="main" data-model="app.users" data-show="app.users.onShow" data-after-show="app.users.afterShow">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" class="km-widget km-button"><span class="km-icon km-drawer-button km-notext"></span></a>
            <a data-align="right" data-role="button" class="nav-button" data-icon="cart" onclick="confirmarOrden()"><span class="km-badge" style="margin: 16px 27px 0 0;">0</span></a>
        </div>
    </header>
    <ul data-role="listview" data-auto-bind="false" data-style="inset" data-template="usersModelTemplate" data-bind="{ source: usersModel.dataSource, events: {click: usersModel.itemClick} }" data-pull-to-refresh="false" data-endless-scroll="false">
    </ul>
    <!-- START_CUSTOM_CODE_usersModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_usersModel -->
    <script type="text/x-kendo-template" id="usersModelTemplate">
        <div style="text-align:center;margin-top:25%;">
            <img src="components/users/Barbacoa.png" width="50%">
            <h1 style="color:tomato;">Bienvenido</h1>
            </br>
            <h3>#: data['nombres'] #</h3>
            <div class="button-group button-group-vertical">
                <a data-role="button" class="primary">Editar mi perfil</a>
            </div>
        </div>
    </script>
    <div class="button-group button-group-vertical" style="text-align:center;margin-top:-13%;font-size: 1.2em;">
        <a data-role="button" class="primary" data-bind="{ events: {click: usersModel.goToDirecciones} }">Mis direcciones</a>
    </div>
</div>