<div id="viewIndex" data-role="view" data-title="" data-layout="main" data-model="app.index" data-show="app.index.onShow" data-after-show="app.index.afterShow">
    <div style="text-align:center;">
        <img src="components/index/pizza1.png" width="80%" style="margin-top:50%;"></img>
    </div>
    </br>
    </br>
    </br>
    <div class="button-group button-group-vertical">
        <a data-role="button" class="primary" data-bind="events: { click: goToHome }">Iniciar Sesión</a>
        <a data-role="button" class="primary" data-bind="events: { click: goToPerfil }">Registrase</a>
    </div>
</div>
<div id="modalInfoOrden" data-role="modalview" style="width: 80%;border-radius: 40px;z-index:-1;" data-modal="false">
    </br>
    </br>
    <h3>Su pedido se enviará a la siguiente dirección: </h3>
    </br>
    <h3><b>Av. Agustín de la Torre 194</b></h3>
    </br>
    <div data-role="footer">
        <div data-role="navbar">
            <a type="button" data-role="button" data-align="right" onclick="$('#modalInfoOrden').data('kendoMobileModalView').close();">No</a>
            <a type="button" data-role="button" data-align="right">Sí</a>
        </div>
    </div>
</div>