<div id="viewIndex" data-role="view" data-title="" data-layout="main" data-model="app.index" data-show="app.index.onShow" data-after-show="app.index.afterShow">
    <div class="button-group button-group-vertical" style="margin-top:100%;">
        <a data-role="button" class="primary" data-bind="events: { click: goToHome }">Iniciar Sesión</a>
        <a data-role="button" class="primary" data-bind="events: { click: goToPerfil }">Registrase</a>
    </div>
</div>


<div id="modalInfoRegistro" data-role="modalview" style="width: 80%;text-align:left;" data-modal="false">
    </br>
    </br>
    <h3 style="text-align:center;"><b>Con tu cuenta puedes: </b></h3>
    </br>
    <h3>* Guardar tus pedidos favoritos</h3>
    <h3>* Acelerar la compra al usar tus direcciones guardadas.</h3>
    <h3>* Recibir ofertas especiales</h3>
    </br>
    <div data-role="footer">
        <div data-role="navbar" onclick="$('#modalInfoRegistro').data('kendoMobileModalView').close();">
            OK
        </div>
    </div>
</div>