<div id="direccionesView" data-role="view" data-title="Direcciones" data-layout="main-nonav" data-model="app.direcciones" data-show="cargarListadoDirecciones" data-after-show="app.direcciones.afterShow">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span data-bind="text: currentItem.nombres" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;" data-role="view-title"></span>
            <a data-role="backbutton" data-align="left">Cancel</a>
            <a data-role="button" data-align="right" data-bind="events: { click: addClick }">Agregar</a>
        </div>
    </header>
    <div id="listaDirecciones" data-auto-bind="false" data-style="">
    </div>
    <script type="text/x-kendo-template" id="listadoModelTemplate">
        <div data-role="collapsible" style="margin:0;" id="divCollapseDirecciones">
            #if( estado ==0 ){#
            <h3>#:calle# #:numero#<input type="checkbox" data-role="switch" data-change="onChangeDireccion" data-idDireccion="#: data['id'] #"></h3> #}else{#
            <h3>#:calle# #:numero#<input type="checkbox" data-role="switch" data-change="onChangeDireccion" data-idDireccion="#: data['id'] #"  data-checked="true"></h3> #}#
            <ul style="margin-top:-20px;">
                <li>Departamento: #:departamento#
                </li>
                <li>Provincia: #:provincia#
                </li>
                <li>Distrito: #:distrito#
                </li>
                <li>Calle: #:calle#
                </li>
                <li>Número: #:numero#
                </li>
                <li>Interior: #:interior#
                </li>
                <a style="position:relative;margin: -32px -32px 0 0;" data-role="detailbutton" data-icon="trash" class="km-style-error" onclick="getCurrentArray('#:calle# #:numero#',#:id#);" data-rel="actionsheet"></a>
            </ul>
        </div>
    </script>
    <ul id="actionsheetDeleteDireccion" data-role="actionsheet" data-cancel="Close">
        <li><a>.</a></li>
    </ul>
</div>
<div id="modalAlertDirecciones" data-role="modalview" style="width: 80%;border-radius: 40px;z-index:-1;text-align:left;" data-modal="false">
    </br>
    </br>
    <h3 style="text-align:center;"><b>Seleccione la dirección de envío</b></h3>
    </br>
    <h3>Debe seleccionar almenos una dirección a la que se enviará su pedido.</h3>
    </br>
    <div data-role="footer">
        <div data-role="navbar" onclick="$('#modalAlertDirecciones').data('kendoMobileModalView').close();">
            OK
        </div>
    </div>
</div>
<style>
    #actionsheetDeleteDireccion .km-state-active {
        background-image: linear-gradient(to bottom, #e12f33 0%, #e12f33 100%);
    }
    #actionsheetDeleteDireccion .km-actionsheet-cancel {
        display: none;
    }
    #listaDirecciones > li {
        padding: 0;
        border-bottom: solid 1px;
        border-bottom-color: #dfe1e2;
    }
    #listaDirecciones .km-collapsible-header {
        border-width: 0;
    }
    #direccionesView {
        background-color: #fff;
    }
</style>