<div id="viewCategoria" data-role="view" data-title="Categorias" data-layout="main" data-model="app.categorias" data-show="app.categorias.onShow" data-after-show="app.categorias.afterShow">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" class="km-widget km-button"><span class="km-icon km-drawer-button km-notext"></span></a>
            <a data-align="right" data-role="button" class="nav-button" data-icon="cart"  href="#components/ordenes/view.html"></a>
        </div>
    </header>
    <ul id="listViewCategorias" data-role="listview" data-auto-bind="false" data-style="inset" data-template="categoriasModelTemplate" data-bind="{ source: categoriasModel.dataSource, events: {click: categoriasModel.itemClick} }" data-pull-to-refresh="false" data-endless-scroll="false" style="margin-top: 25%;">
    </ul>
    <script type="text/x-kendo-template" id="categoriasModelTemplate">
        <div class="image-with-text">
            <img src="#: data['PictureUrl'] #" width="100%" height="100%" style="border-radius:25%;">
            </br>
            <h3>#: data['Nombre'] #</h3>
        </div>
    </script>
    <style>
        #listViewCategorias>li {
            width: 50%;
            float: left;
            text-align: center;
        }
    </style>
</div>
<div id="modalDemoCategorias" data-role="modalview" style="width: 80%;border-radius: 40px;z-index:-1;text-align:left;" data-modal="false">
    </br>
    </br>
    <h3 style="text-align:center;"><b>Esta categoría no está disponible</b></h3>
    </br>
    <h3>Este demo presenta sólo dos categorías, pizzas y ofertas, con dos productos en cada una de ellas.</h3>
    </br>
    <div data-role="footer">
        <div data-role="navbar" onclick="$('#modalDemoCategorias').data('kendoMobileModalView').close();">
            OK
        </div>
    </div>
</div>